<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wsintelliauction</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">s1lentk1ll</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="com.uct.cs.wsintelliauction.database.persistent.tables.Channel"/>
		<mapping class="com.uct.cs.wsintelliauction.database.persistent.tables.Auction"/>
		<mapping class="com.uct.cs.wsintelliauction.database.persistent.tables.Lease"/>
		<mapping class="com.uct.cs.wsintelliauction.database.persistent.tables.PrimaryUser"/>
		<mapping class="com.uct.cs.wsintelliauction.database.persistent.tables.SecondaryUser"/>
		
  </session-factory>
</hibernate-configuration> 